html, body{
  background-image: url("backgruond.png");
}

.imgcontainer {
  text-align: left;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 13%;
  border-radius: 50%;
}

  .container{
    position:left;
    top:50px;
  }

.container h3, .container span{
  font-family:"Pt Sans", helvetica, sans-serif;
}

.container h3{
  text-align:left;
  color:rgb(19, 18, 18);
  font-weight:100;
  font-size:2em; 
  margin-bottom:20px;
}

.container h1{
  font-family:"droid serif";
  font-style:italic;
  color:#f5f820; 
  text-align:left;
  font-size: 2em;
}

.container span{
    margin-bottom:22px; 
    display:inline-block;
}

input{
  border:none;
  outline:none;
  display:inline-block;
  height:34px;
  vertical-align:middle;
  position:relative;
  bottom:14px;
  right:9px;
  border-radius:22px;
  width:220px;
  box-sizing:border-box;
  padding:0 18px; 
}

input[type="button"]{ 
  background:rgba(253, 52, 38, 0.966) ! important;
  color:#fff;
  position:relative;
  text-align: center;
  left:10px;
  top:25px; 
  width:100px;
  cursor:pointer;
}
